

head {
  font-family: 'Tangerine', serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px #aaa;
}

body {
  font:normal 24px/1.6em Arial, Helvetica, sans-serif;
	/*color:#2a3845;*/
  color: white;
	margin:0;
	padding:0;
  text-align: center;
/*	background:#FFFFFF;
  body {*/
    /*background-image: url("images/grad.jpg");*/
    background-color: #1882b6;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	/*color:#29A3CC;*/
  color: white;
  text-align: left;
	margin:60 0 31px;
	padding-bottom:10px;
  font-family: 'Tangerine', serif;
  font-size: 100px;
}

h2 {
	/*color:#7a2e40;*/
  color: white;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 35px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:15px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}


img{
    max-width:100%;
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
  text-align: center;
  margin: auto;
  width: 50%;
}

#nav{
    border:1px solid #ccc;
    border-width:1px 0;
    text-align:center;
    list-style-type:none;  
    margin:-30px auto;  
    padding:0;  
    height:36px;  
    position: relative;
    background-color:#900;  
    width: 100%
    font-family:Arial;  
    font-size:0.9em;  
}

#nav ul{
    height: auto;
    padding: 0px 0px;
    margin: 0px;
}

#nav li{
    display:inline;    
    background-color:#900;  
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    padding: 0px;
    float:center;  
    height:30px;  
    line-height:30px;
}
#nav a{   
    display:inline-block;  
    padding:0 100px;  
    color:#FFF;  
    text-decoration:none; 
}

#nav a:hover {
	text-decoration:underline;
  padding-top: 7px; 
  background-color: #FFF;
	color: #1875b6;
}
/*
.three {
  display: inline;
}
*/
    .image {
      display: inline;
/*      margin-top: -600px
      margin-left: -550px;*/
      width: 180%;
    }